@media (min-width: 1200px){
    .container {
        width: 90%!important;
    }
}
.main-content{
    margin: 0 15px;
}
.sidebar{
    height: 80vh;
}
.sidebar .panel-default{
    height: 100%;
}
footer{
    height: 8.5vh;
    text-align: center;
    padding: 20px 0;
}
